source https://api.nuget.org/v3/index.json

storage: none
framework: net6.0

nuget Microsoft.AspNetCore.Components.WebAssembly
nuget Microsoft.AspNetCore.Components.WebAssembly.DevServer
nuget System.Linq.Async
  
nuget LanguageExt.Core
nuget Refit
nuget Microsoft.Extensions.Http
nuget Refit.HttpClientFactory
nuget Refit.Newtonsoft.Json
nuget Microsoft.Extensions.Hosting
nuget Microsoft.Orleans.Clustering.AzureStorage
nuget Microsoft.Orleans.Hosting.Kubernetes
nuget Microsoft.Orleans.Server
nuget Microsoft.Orleans.CodeGenerator.MSBuild
nuget Microsoft.VisualStudio.Azure.Containers.Tools.Targets
nuget Microsoft.VisualStudio.Azure.Kubernetes.Tools.Targets
nuget Orleans.Clustering.Redis
nuget Orleans.Persistence.Redis
nuget Swashbuckle.AspNetCore
nuget OrleansDashboard
nuget Marten

nuget Microsoft.Orleans.TestingHost
nuget AutoFixture
nuget FluentAssertions
nuget xunit
nuget xunit.runner.visualstudio
nuget Moq
nuget coverlet.collector
nuget Testcontainers
nuget Microsoft.NET.Test.Sdk
nuget Ogooreck